@model ReceitaWsSample.Models.CadastroPessoaJuridica

@{
    ViewBag.Title = Model.RazaoSocial;
}

<div class="container">
    <a href="~/Home/Index" class="btn btn-primary">Voltar</a>

    <br/><br/>

    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h2 id="forms">Dados retornados</h2>
            </div>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="RazaoSocial">Razão social</label>
                <input type="text" class="form-control" id="RazaoSocial" value="@Model.RazaoSocial" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="NomeFantasia">Nome fantasia</label>
                <input type="text" class="form-control" id="NomeFantasia" value="@Model.NomeFantasia" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="Cnpj">CNPJ</label>
                <input type="text" class="form-control" id="Cnpj" value="@Model.Cnpj" readonly="readonly">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="Tipo">Tipo</label>
                <input type="text" class="form-control" id="Tipo" value="@Model.Tipo" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="Situacao">Situação</label>
                <input type="text" class="form-control" id="Situacao" value="@Model.Situacao" readonly="readonly">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="UltimaAtualizacao">Última atualização</label>
                <input type="text" class="form-control" id="UltimaAtualizacao" value="@Model.UltimaAtualizacao.ToString("dd/MM/yyyy HH:mm:ss")" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="Telefone">Telefone(s)</label>
                <input type="text" class="form-control" id="Telefone" value="@Model.Telefone" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Logradouro">Endereço</label>
                <input type="text" class="form-control" id="Logradouro" value="@Model.Logradouro" readonly="readonly">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="Numero">Nº</label>
                <input type="text" class="form-control" id="Numero" value="@Model.Numero" readonly="readonly">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="Cep">CEP</label>
                <input type="text" class="form-control" id="Cep" value="@Model.Cep" readonly="readonly">
            </div>
        </div>        
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="Bairro">Bairro</label>
                <input type="text" class="form-control" id="Bairro" value="@Model.Bairro" readonly="readonly">
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="Municipio">Município</label>
                <input type="text" class="form-control" id="Municipio" value="@Model.Municipio" readonly="readonly">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="Uf">UF</label>
                <input type="text" class="form-control" id="Uf" value="@Model.Uf" readonly="readonly">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="DataInclusao">Data inclusão</label>     
                <input type="text" class="form-control" id="DataInclusao" value="@Model.DataInclusao.ToString("dd/MM/yyyy HH:mm:ss")" readonly="readonly" >
            </div>        
        </div>  
    </div>

    <br/>

    <div class="page-header">
        <h5>Quadro de sócios e administradores</h5>
    </div>

    <br/>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Ocupação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var socio in Model.Socios)
            {
                <tr class="table-light">
                    <td>@socio.Nome</td>
                    <td>@socio.Ocupacao</td>
                </tr>
            }
        </tbody>
    </table> 

    <hr />
</div>

